<!--@subject Contact Form@-->
<!--@vars
{"var data.name":"Sender Name",
"var data.email":"Sender Email",
"var data.telephone":"Sender Telephone",
"var data.comment":"Comment"}
@-->

<p>Hello,<p>
<p>Below customer has contacted us .please review it</p>

<h5>These are the Details:</h5></br>
Title: {{var prefixtitle}}<br/>
First Name: {{var fname}}<br/>
Last Name: {{var lname}}<br/>
Email: {{var email}}<br/>
Phone Number: {{var stdbg}} :{{var telephone}}<br/>
Reason of contact: {{var reason}}<br/>
Comment: {{var comment}}<br/>

<p></p>
Thanking You,

